* {
    box-sizing: border-box;
}
.dropdown {
    background-color: grey;
}

ul {
    list-style-type: none;
}

.bookmarks {
    width: 70%;
}

.dropdown-expanded {
    border: 1px solid black;
    width: 70%;
}

.hidden {
    display: none;
}
section {
    border: 1px solid black;
    width: fit-content;
    height: 150px;
}

.enter-description {
    height: 120px;
}

.cancel-button, .create-button {
    width: 100px;
}

.error-container {
    border: 1px solid grey;
    width: fit-content;
}